<!DOCTYPE html>
<html lang="en">

<body>

    <%= render 'layouts/nav' %>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/amarillo.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>La Naturaleza es dura pero justa</h1>
                        <h2 class="subheading">Mas alla de la Moral</h2>
                        <span class="meta">Por <a href="#">Ignacio Palma</a>/span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2>La Partida</h2>
                    <p>31 años a mi haber y aun no siento que haya completado cosas importantes en mi vida. La necesidad espiritual es fuerte, como una silenciosa angustia que llevamos dentro, que nos recuerda encontrar lo reales triunfos, una razon para mantenerte vivo y no morir en vida, no vivir como un zombie que para mi, por lo menos, es peor que morir realmente.</p> 
                     
                    <p>Volvamos a lo simple, me dije. Quizas es una herencia genetica, un vestigio de nuestros antepasados conquistadores a salir sin mas a descubrir el mundo, lo desconocido, lo incierto. Embarcarse en una empresa que no tenga un objetivo muy practico sino mas bien por la hidalguía de realizarse, por el placer personal, una especie de hedonismo heroico, transformar el dolor en dulce caramelo para el alma, sentir la libertad de poder morir en el intento, vivir!.</p>
                     
                    <p>Un par de meses adelante y los recursos son escasos. Bien decia mi madre que es mejor tener amigos que dinero. Nos dispusimos a comprar los articulos basicos para la sobrevivencia que ofrece nuestra tecnologia moderna y echar mano a quienes serian nuestros sponsors, convertidos ahora en improvisados mecenas de este deporte. Por razones obvias, el equipamiento debe ser reducido al minimo lo que para mi, antes de siquiera comenzar el viaje, refuerza el caracter educativo de nuestra empresa en un nivel que va mas alla del deporte. Comienzo a comprender que no solo sera una marathon de exigencia fisica sino mas bien un desafio de consciencia, un entrenamiento del vivir simple, una presagio de lo que sera el contacto directo con la justicia natural.</p>

                    <%= image_tag "mapa-2.jpg", class: "img-responsive" %>
                     
                    <p>Somos transportados al aeropuerto Arturo Merino Benitez como extirpados de un organismo enfermo que exige todo tu tiempo, pero que te olvida instantaneamente. Como en el umbral de cualquier viaje, siento una inmensa conmocion de saber que ya partio este tren, una expectacion infantil mezcla de ganas, miedo, ansias, esperanza y . Como una nostalgia adelantada de lo que será nuestro viaje. Un pequeño traspié con nuestro vuelo a Puerto Montt nos adelanta la presencia de problemas, un factor a considerar en cualquier aventura que deberia entenderse como un profesor acompañante que demanda tu presencia en todo momento, que acostumbra a tu ego a no rechazarlo sino mas bien navegar como marino pirata en mares tempestuosos para convertirte en un experto de tu vivir.</p>
                     
                    <p>El degradé de verdes que se ve por la ventana ovalada del avion es conmovedor, la majestuosa cordillera muestra su piel desnuda de colores morados, grises y rojos. Al llegar a Puerto Montt nos indican que se ha perdido un equipaje en la tremenda confusion aerea que generan las vacaciones de verano. Una calma sabia invade nuestro temperamento. Al fin aparece nuestro amigo sureño quien nos llevara a la primera morada del viaje, Puerto Varas. No precisamente en el pueblo, pero alejado unos 6 Km hacia la localidad de Ensenada, nuestro anfitrion nos presenta su casa. Tipica construccion de madera de la zona con una privilegiada vista al lago y al Volcan. Somos rapidamente invitados a unos tragos junto al lago Llanquihue, las preguntas fluyen en una entrevista incredula, intuyo que en el fondo se preguntan simplemente ¿Por qué?. Es imprescindible para nuestra seguridad intelectual contar con un motivo logico, una razon practica y este tipo de expediciones ponen a prueba esta costumbre a tal punto de hacerme sentir un poco alienado, como si realmente tuviesemos una moral diferente. La ausencia total de dudas en nuestra voluntad me hace confiar en mis respuestas. El licor corre rapido y disipa el caracter inquisitivo de la conversacion. Por fin de vuelta en casa nos tomamos la tarde para empacar, planear, relajarnos, tomar té, fumar, reposar las ideas y llevar nuestros huesos a un placentero descanso. El dia comienza temprano mañana y será largo.</p>

                    <h2>Puerto Varas - Caleta Puelche</h2>
 
                    <p>La excitación de comenzar el viaje nos dio un sueño liviano, el sol asomandose detras del imponente volcan nos acompaño durante un agradable desayuno muy chileno; tostadas con palta, yoghurt, cereales, mermelada. Un buen temperamento reinaba en la mesa. Empacar, despedirse y partir, una maniobra que realizamos rapidamente, como si llevaramos meses haciendo esto, como si ya supieramos nuestra rutina. Unos 20 Km habian sido añadidos inesperadamente a nuestra partida, la seccion de 6 Km hasta Puerto Varas y unos 15 Km a Puerto Montt por una carretera interna que cruza el poblado llamado “Alerce”. Las ganas de partir y  el buen desayuno hicieron el trayecto facil, llegamos a Puerto Montt antes del mediodia para comprar provisiones en el supermercado y bajamos a almorzar a la costa. Un enorme crucero nos saludaba mar adentro mientras ordenabamos un mix de carne y papas fritas, no muy saludable para nuestra actividad pero altamente calorico y proteinico. Fotos en la costa y junto al primer simbolo de la ruta 7 (0,1Km) y ahora podriamos decir que partia oficialmente nuestra travesia sureña! Animo a los ciclistas! Nos sorprendio agradablemente la gente saludandonos a medida que nos retirabamos de Puerto Montt, como participantes de un evento que no habiamos anunciado sin embargo estaba presente en la consciencia de aquellos quienes levantaban la mano para moverla de izquierda a derecha. Regalandonos una sonrisa e incluso apoyandonos a viva voz, una empatía espontanea por ver a su propia raza realizando una prueba de esta naturaleza, sentí que llevabamos a cuestas las ganas de aquellos que lo han imaginado pero no se han atrevido a realizarlo, como si en cada pedaleo fuese ayudado un poco por aquella fuerza.</p>
                     
                    <p>Tan pronto salimos de Puerto Montt nos azota una subida de corta duracion, me doy cuenta de que probablemente no tengo la musculatura adecuada para esta viaje, mi respiracion se agita descontroladamente apenas en el Km 15. Sin demostrar flaqueza alguna me apoyo en la inercia del grupo que mantiene una velocidad estable y un caracter duro ante el calor del mediodia que calienta el asfalto y hace de nuestras prendas un sauna en movimiento.</p>
                     
                    <p>Hacemos una pausa a mitad de camino para comer algo rapido y cargar agua y nos damos cuenta de lo complicado que puede convertirse un dia de calor en nuestro sur de Chile, privado de una buena capa de ozono. Ademas, fue momento de saludar a quienes nos harian una desagradable compañia durante casi todo nuestro trayecto; Tabanos y Coligüachos. </p>
                     
                    <p>Entramos nuevamente en nuestro trance ciclista pero esta vez separados en dos grupos, Victor y Sebastian, liderando con unos 2 Km de ventaja y yo junto a mi hermano Diego rezagados por el cansancio.</p>
                     
                    <ul>
                        <li>Estoy fundido - le digo a diego cruzando un puente</li>
                        <li>Un par de cuervas mas y descanzamos - me responde</li>
                     </ul>

                    <p>Buena decision, ya que solo a unos Kilometros nos encontramos con obreros arreglando la ruta y una enorme sombra natural que nos brindan los arboles. Un curioso trabajador nos viene a saludar. Le explicamos de que se trata nuestro viaje y nos cuenta que ha tenido las intenciones de hacerlo durante años pero su familia y tres hijos le dan poca tregua en cuanto al tiempo libre y el dinero. Una confirmacion de las sensaciones que tuve al ser saludado por la gente pero por sobretodo nos llama la atencion lo suave y educado que es este hombre al entrevistarnos. Una actitud serena pero firme, frases cortas sin muchos rodeos, sin dobles propositos. Nuestros prejuicios sociales comienzan a derrumbarse. Le doy la observacion a Diego quien me confirma positivamente. </p>
                     
                    <p>Un pequeño esfuerzo sobre mis capacidades y en buena hora llegamos a las cercanias de caleta “Las Arenas” que nos recibe con un bello camino ondulado al borde del mar desde donde ya divisamos el primer ferry hacia caleta “Puelche”. Un hippie de nuestra era llega magneticamente a saludarnos para contarnos que vive en Hornopiren y que estamos ad-portas de entrar en lo que describe como un “mundo paralelo”. La verdad es que esta primera frontera natural nos daba la sensacion de estar dejando nuestra conocida patria, como si lo que siguiera fuese parte de otro pais, un pais abundante de libertad, de agua, de gente buena, como describia nuestro improvisado amigo mientras enrrollaba un cigarrillo que no tenia precisamente tabaco. “Ya la hicieron.. “ - nos repetia una y otra vez. “Ya llegaron..”. Sus palabras hinchaban mi espectativa y mis ganas positivamente mientras el ferry rompia las olas y el viento desordenaba nuestras cabelleras, poco a poco perdia el miedo a la incertidumbre.</p>

                    <%= image_tag "ferry-puelche.jpg", class: "img-responsive" %>


                     
                    <p>Probablemente a una hora de la puesta del Sol desembarcabamos en caleta Puelche, un pequeño caserio de no mas de 200m. Basto preguntar en un kiosko para enterarnos que dos casas mas arriba una señora ofrece su patio como camping, asi pues rapidamente cerramos el trato por la modica suma de $1.000 por carpa. Bajando al patio nos recibe una multitud de plantas de mentas, con su adorable color verde claro y aroma particular. Un té de aquellos brotes cae directamente sobre nuestras tazas de aluminio y despedimos el primer tramo con una cena de tallarines. Bien equipo!</p>
                     
                     
                
                    <h2 id="camping-puelche">Caleta Pueche - Hornopiren</h2>
                     
                    <%= image_tag "camping-puelche.jpg", class: "img-responsive" %>

                    <p>La primera mañana amaneciendo al alba entre el pasto y la menta. Que buena acogida nos dio la carretera austral. Ninguna nube en el cielo y el aire fresco de la mañana se convierte en un agradable escenario del que me iré acostumbrando durante el viaje. La sobrevivencia es lo primero y mi hermano Diego cocina tortillas con atun en un pequeño sarten de campaña. Damos comienzo, tambien, al riguroso ritual de empaque que repetiremos casi todos los dias sin protestar y de manera casi religiosa. Comienza el certamen diario y el animo se ve rapidamente interrumpido despues de 10Km por el primer corte en la conveniente carretera de asfalto. El ripio nos da la bienvenida con grandes piedras y una pequeña cuesta que pone a prueba nuestra integridad mental.</p> 
                     
                        •   Quizas no estoy apto para estos caminos - pienso dramaticamente
                     
                    <p>El terreno se vuelve tan hostil que es preciso para todos bajarse de la bicicleta y subir a pie lo que resulta mas penoso aun. El peso de nuestro equipo y la ergonomia de nuestros vehiculos no estan hechos para ser llevados de esta manera. Son momentos como este donde le tomo el peso al factor de moralidad grupal que se impone firmemente para salir de aquel embrollo, vencer un dificultad sin desmoralizarse en el intento y continuar el viaje. El camino nos enseñaria mas adelante que ademas de fuerza es cuestion de tecnica, de estrategia. Ejercicios intensos como este requieren de atencion fisica pero tambien mental. Esto que me sonaba como una demagogia de director tecnico se va volviendo cada vez mas real, como una meditacion de alto rendimiento debemos controlar un remolino de emociones por las que pasa el cuerpo. </p>
                     
                    <p>A mitad de camino se nos aparece la primera vertiente natural, como un oasis que seria un descanso recurrente en estas latitudes patagonicas. Me causa una gran alegria ver la reaccion instantanea de todos de desprenderse de la ropa y entrar en el agua fria que clava amorosamente la piel y nos recuerda nuestra naturaleza primate. Esencial! La felicidad en esta travesia se encuentra en estos detalles del cotidiano paisaje, me siento fortalecido y renovado. La segunda mitad del recorrido no parece tan dificil.</p>
                     
                    <p>El Sol quema fuerte pasado el mediodia y nuevamente aparecen los odiados insectos. Es tanta la presion que provocan en el peor momento de una subida que empiezo a considerarlos como maestros de la paciencia. Su inesperada presencia y agilidad ponen a prueba cada dimensión de mi caracter, odiarlos es la primera reaccion y en este tramo no pude mas que abandonarme a mis instintos asesinos y matar la mayor cantidad posible.</p>
                     
                    <p>La distribucion de alimentos comienza a volverse un problema, especialmente para mi. Protesto por la falta de almuerzo, el cansancio y hambre cocinan un peligroso caldo de emociones que debo controlar. Empiezo a tomar consciencia de la soberania que tienen estas reacciones en mi estado de animo. Como si no fuese dueño de mi actitud, un lado oscuro de la condicion animal que no me gusta reconocer, peor aun, que no se superar.</p>
                     
                    <p>Por fin, despues de un agradable descenso, llegamos a Hornopiren, un pequeño pueblo que nos saluda con casas bastante pintorescas. La simpleza de la vida en estas regiones llama mi atencion de inmediato. La lenta velocidad con que funcionan las interacciones humanas es relajante y el acento sureño nos soprende comicamente. Una entonacion algo ingenua, sin embargo los patagones demuestran un caracter directo, aveces rudo, pero finalmente amable.</p>
                     
                    <p>Despues de saciar el hambre voraz, montamos campamento a 50m de la salida del ferry, la noche cae rapidamente y no hay mas que acomodarse bien y dormir merecidamente. El trabajo esta hecho.</p>
                     
                     
                    
                    <h2>Hornopiren - Caleta Gonzalo</h2>

                    <p>Es el tercer dia de viaje y levantarse temprano ya se vuelve habitual. Podria decir que en estas circunstancias fue muy agradable. El cansancio del ejercicio diurno provoca un sueño profundo que se ve naturalmente interrumpido por la luz y el cambio de temperatura dentro de la carpa al amanecer.</p>

                    <p>Hemos dormido a pocos metros del lugar donde atraca el barco que nos llevara hasta caleta gonzalo. Con poco tiempo para desayunar marcamos record en preparacion de huevos revueltos, té, limpieza, armado de carpas y preparacion de equipo. Hoy será practicamente un dia libre, 4 horas arriba de un ferry que navegará 90 Km entre fiordos y mar abierto. Los autos hacen filas interminables para poder subir al barco y reservan tickets con dias de anticipacion, en cambio nosotros, como condecorados por la hazaña de llegar a estas latitudes en bicicleta, pagamos una minima tarifa y tenemos una tranquila entreada preferencial.</p>

                    <p>Zarpamos tranquilamente y el aire marino, junto con el paisaje tienen un efecto embriagador. Me dispongo a recorrer los recovecos del navio, pequeños corredores, cuerdas gruesas, escalerillas convenientemente simples. El salon de almuerzo es amplio y cuenta largos sofas que serviran de camarote a los mas adormilados. Diego y Victor prefieren dormir y Sebastian se sumerge en una profunda conversacion con una mujer que acaba de conocer. Sin ningun animo de inmiscuirme me retiro junto a mis pensamientos al tercer piso para dar el ultimo respiro de aire salado y caigo en un hondo sopor, solo interrumpido por el volumen de una pelicula de accion que se desarrolla impertinentemente en la sala.</p>

                    <p>La llegada a Caleta Gonzalo es gloriosa. En realidad fue aqui donde realmente tuve la sensacion de entrar en un mundo paralelo. La majestuosidad, frondosidad y color de las montañas no tiene ninguna relacion con el paisaje que conozco del sur de mi pais. Una sensacion de alegria salvaje recorre a todos quienes miran ansiosos desde el borde del navio. La humedad es diferente, la flora tupida y extravagante, una multitud de especies vegetales hacen de esta zona una verdadera selva: Reconozco que siempre he sido un pesimista, una cualidad supongo formada en los disgustos de mi infancia, en los decepcionantes momentos en que te das cuenta que las cosas no son como tu creias, ni como deberian ser. La moralidad adulta es hipocrita, llena de contradicciones y creencias, impropias, muy distante de la inocencia infantil, que ve el absurdo de la civilizacion y el comportamiento humano con la claridad de una mente limpia, sin prejuicios.</p>

                    <p>Es esta sensacion opuesta a mi espontanea felicidad de estar ahi la que me ataca por dentro. Un cuestionamiento del status quo que me acompañara en mis reflexiones durante el resto del viaje y es que creo que bastan solo un par de dias en este antiguo templo terrestre para comprender lo que hipotecamos en nombre del progreso y lo costoso que resulto el desarrollo. No solo en la perdida de flora y fauna sino tambien en lo incoherente de nuestra sofisticada vida en las ciudades. 
                    Estos terrenos tienen una buena historia, no es de mi interes comentarles los detalles del señor Douglas Tompkins pero pueden averiguar acerca de sus contribuciones. Solo atenderé a relatar como me afecto personalemente su vision en el marco de la intervencion que tenemos sobre la naturaleza.
                    Aterrizando en lo practico de mi relato, el camping nos recibe de manera amorosa, como un querido familiar que nos abraza con sus helechos, pastos blandos y gente tranquila. sin duda las mejores instalaciones que tuvimos en nuestro viaje. Me impresiona agradablemente como se comporta la gente en este lugar. A pesar de ser la mayoria Santiaguinos y citadinos en general, el respeto y tolerancia se apoderan de las interacciones. Una buena muestra del efecto que puede tener el medio ambiente en el organismo social humano, un argumento de facto de las bases fundamentales que debemos cambiar en nuestro entorno social si queremos ver esta clase de valores en nuestro dia a dia.</p>

                    sendero cascada…..

                    <p>Es lamentable pero el dia se hace corto y debemos montar campamento, cocinar, ordenar, limpiar y dormir. La noche llega y nos cubre con su manto purpura, las estrellas son alucinantes, el aire humedo es como medicina para mis pulmones, me acabo de dar cuenta lo aliviada que se siente mi garganta de un malestar que traia desde hace varios meses! De vuelta a mi querido iglú, buenas noches patagonia =).</p>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
