<section style="background-color: rgb(0, 255, 236);">
	<div class="container">

		<h1>Cuentanos tu experiencia!</h1>
		<h4>Asi puedes contribuir al conocimiento de rutas para ciclistas</h4>

		<%= render 'form' %>

	</div>

	<%= link_to 'Back', root_path %>
</section>

