<section style="background-image: url('/assets/grass-background.jpg')">
	<div class="container">
		<div class="form-body">
		<h1>Cuentanos tu experiencia!</h1>
		<h4>Asi puedes contribuir al conocimiento de rutas para ciclistas</h4>
		</div>
		<%= render 'form' %>

	</div>

	<%= link_to 'Back', root_path %>
</section>

