<section style="background-color: rgb(0, 255, 236);">
	<div class="container">

		<h2>Cuentanos tu experiencia!</h2>
		<h4>Asi puedes contribuir al conocimiento de rutas para ciclistas</h4>

		<%= render 'form' %>

	</div>

	<%= link_to 'Back', posts_path %>
</section>

